@import "tailwindcss";

@theme {
    --color-background: var(--bg);
    --color-surface: var(--surface);
    --color-primary: var(--text);
    --color-accent: var(--accent);
}

:root {
    --bg: #363636;
    --surface: #D9D9D9;
    --text: #D9D9D9;
    --accent: #50973E;
}

html {
    overflow-y: scroll;
}

.card-scrollbar {
    scrollbar-color: #0b1630 transparent;
    scrollbar-width: thick;
}